/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
p {

}

h1 {
font-size:20px;
}

h2 {
font-size:20px;
}

h3 {
font-size:20px;
}

h4 {
font-size:20px;
}

h5 {
font-size:20px;
}

h6 {
font-size:20px;
}

