@model MemberProfilePicViewModel
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Upload Pic</button>
<script>

</script>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        @using (Html.BeginUmbracoForm("UploadProfilePic", "Member", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline", @id = "profilepicform" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Upload Picture</h4>
                </div>
                <div class="modal-body">


                    @Html.TextBoxFor(x => x.Image, new { @type = "file", @id = "Image", @class = "form-control" })


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div><!-- /.modal-content -->
        }
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
