@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	<h1>Find someone you know</h1>
	<form method="get" id="search" action="/search-result" class="form-inline">
    <div class="form-group">
        <input id="q" name="q" class="form-control" style="width:300px" type="text" />
    </div>
    <button type="submit" class="btn btn-info ">Search</button>
</form>
