<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Setting propertyAlias="umbracoNaviHide" value="true" cssClass="icon-indent" cssColor="color-orange" disabled="False" />
  <Setting propertyAlias="umbracoRedirect" value="true" cssClass="icon-arrow-right" cssColor="color-green" disabled="False" />
  <Setting propertyAlias="umbracoUrlAlias" value="true" cssClass="icon-documents" cssColor="color-blue" disabled="False" />
</Settings>